    title {
        font-family: Comic Sans MS;
    }
    body {
        background: rgb(208, 255, 0);
        color: rgb(0, 0, 0);
        padding: 10px;
        font-family: Courier;
    }
    #all-contents {
        max-width: 800px;
        margin: auto;
    }
    .script {
        size: 50px;
        margin-top: 200px;
        padding-top: 200px;
    }

    /* navigation menu */
    nav {
        background: rgb(200, 100, 20);
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        padding: 10px;
        border-radius: 15px;
    }
    h1 {
        display: flex;
        align-items: center;
        color: rgb(0, 0, 0);
        flex: 1;
        margin: 0;
    }
    #nav-ul {
        list-style-image: none;
    }
    .nav-li {
        display: inline-block;
        padding: 0 10px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }

    /* main container area beneath menu */
    main {
        background: rgb(245, 238, 219);
        display: flex;
        border-radius: 15px;
    }
    .sidebar {
        margin-right: 25px;
        padding: 10px;
    }
    .sidebar-img {
        width: 175px;
        height: 200px;

    
    }
    .content {
        flex: 1;
        padding: 15px;
        border-radius: 10px;
    }
    #interests {
        border: 4px silver ridge;
        padding: 8px;
        border-radius: 13px;
    }
    h2, h3 {
        margin: 0px;
    }
    #highlight {
        font-size:x-large;
        padding: 10px;
    }
